
<main class="main"> 
    <div class="content">
      
     <div class="loginpage" style="border-radius: 10px; display: flex; flex-direction: column; align-items: center; height:min-content;">
      <div style="display: flex; gap: 10px; align-items: center;">
        <img width="30" src="https://w7.pngwing.com/pngs/84/895/png-transparent-computer-icons-helmet-industrial-worker-people-logo-construction-worker.png" alt="logo">
        <h3 style="font-size: 20px; font-weight: 500;">Worker's Portal</h3>
      </div>
      <h2 style="color: rgb(14, 120, 220); font-weight: 500; font-size: 23px; margin-top: 50px;">Hi, Welcome Back</h2>
        <div class="signin" routerLink="/home">
            <img src="https://w7.pngwing.com/pngs/344/344/png-transparent-google-logo-google-logo-g-suite-google-text-logo-symbol-thumbnail.png" alt="google" width="20">
            <h3 style=" color:rgb(0, 0, 0); text-decoration: none; font-size: 14px; font-weight: 350;">Sign In with Google</h3>
        </div>
      
        <h3 style="color: rgb(105, 117, 134); font-size: 14px; letter-spacing: 0.5px; font-weight: 400; margin-top: 20px;">Sign In with your BITSathy Account</h3>
     </div>
    </div>
</main>

  
  