<div class="content">
  <div class="task_table">


    <div class="table_name" style="display: flex;">
        <h2 style="display: flex; font-family:Arial, Helvetica, sans-serif; padding-left: 10px; height:4S0px; ">Tasks</h2>
    </div>



    <div style="background-color: white;">


          <input style="height:40px; width: 250px; margin: 20px;" type="search" name="table_search" placeholder="Search">

        <div class="style_table" >
          <div class="list_table" style="border: 0.2px solid rgb(216, 216, 216); border-radius: 8px;">
            <table style="border: none; width:1200px">
              <thead style="border: none;">
                <tr style="border: none;">
                  <td>S.No</td>
                  <td>Course</td>
                  <td>Slot</td>
                  <td>Justication</td>
                  <td>Status</td>
                  <td style="width: 100px;">Action</td>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>


            <div class="pagination">
              <h4 style="font-size: 14px; font-weight: 500;">Page 1 of 0</h4>
              <div class="pagination-right">
                <h4 style="font-size: 14px; font-weight: 500;">Rows per page:</h4>
                <select>
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                </select>
                <button disabled="">
                  <svg class="awl" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="ArrowBackIosRoundedIcon">
                    <path d="M16.62 2.99c-.49-.49-1.28-.49-1.77 0L6.54 11.3c-.39.39-.39 1.02 0 1.41l8.31 8.31c.49.49 1.28.49 1.77 0s.49-1.28 0-1.77L9.38 12l7.25-7.25c.48-.48.48-1.28-.01-1.76z"></path>
                  </svg>
                </button><button disabled="">
                  <svg class="awr" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="ArrowForwardIosRoundedIcon">
                    <path d="M7.38 21.01c.49.49 1.28.49 1.77 0l8.31-8.31c.39-.39.39-1.02 0-1.41L9.15 2.98c-.49-.49-1.28-.49-1.77 0s-.49 1.28 0 1.77L14.62 12l-7.25 7.25c-.48.48-.48 1.28.01 1.76z"></path>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          </div>
    </div>
  </div>
  
</div>

 
  

